@media (max-width:769px){
  .modal-container{
      position: fixed;
      bottom: -100%;
      height: 60vh;
      width: 90vw;
      margin-left: 5vw;
      margin-right: 5vw;
      margin-bottom: 18vh;
      overflow: hidden;
      border-radius: 25px;
      animation-fill-mode: forwards;
      background: white;
      -webkit-box-shadow: 0px 0px 20px 5px rgba(165,165,165,0.65); 
      box-shadow: 0px 0px 20px 5px rgba(165,165,165,0.65);
  }
  .modal-card{
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      padding: 30px 30px;
      background: white;
  }
  .modal-title{
      font-size: 28px;
      color: var(--blue-1);
      font-weight: 900;
  }
  /* ANIMATION */
  .card-up{
      animation: MoveUp .2s linear;
      animation-fill-mode: forwards;

    }
  @keyframes MoveUp {
      0% {
          bottom: -100%;
      }
      100%{
          bottom: 0%;
      }
  }
  .card-down{
      animation: MoveDown .2s linear;
      }
  @keyframes MoveDown {
      0% {
          bottom: 0%;
      }
      100%{
          bottom: -100%;
      }
  }
  img .cancelIcon{
  margin-right: 0 !important;
  }
  .continue-btn{
      width: 100%;
      padding: 20px 0;
      background: var(--pink-1);
      border-radius: 8px;
      color: white;
      font-weight: 700;
      margin: 0 30px;
      margin-top: 10px;
  }
  .cancel-btn{
      width: 100%;
      padding: 20px 0;
      background: #EDF1F8;
      border-radius: 8px;
      box-shadow: inset 0px 0px 0px 1px var(--blue-1);
      color: var(--blue-1);
      font-weight: 700;
      margin: 0 30px;
      margin-top: 10px;
  }
  .continue-btn:hover, .cancel-btn:hover{
      transform: scale(1.005);
      transition: .3s;
  }
  .modal-content{
    width: 100%;
    padding: 20px 0;
}
}
@media (min-width:768px){
  .modal-container{
      position: fixed;
      bottom: -100%;
      height: 60vh;
      width: 500px;
      margin-left: 0vw;
      margin-right: 0vw;
      margin-bottom: 0vh;
      overflow: hidden;
      border-radius: 25px;
      animation-fill-mode: forwards;
      background: white;
      -webkit-box-shadow: 0px 0px 20px 5px rgba(165,165,165,0.65); 
      box-shadow: 0px 0px 20px 5px rgba(165,165,165,0.65);
      z-index: 3;
  }
  .modal-card{
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
      padding: 70px 50px;
      background: white;
  }
  .modal-title{
      font-size: 28px;
      color: var(--blue-1);
      font-weight: 900;
  }
  /* ANIMATION */
  .card-up{
      animation: MoveUp .2s linear;
      animation-fill-mode: forwards;

    }
  @keyframes MoveUp {
      0% {
          bottom: -100%;
      }
      100%{
          bottom: 0%;
      }
  }
  .card-down{
      animation: MoveDown .2s linear;
      }
  @keyframes MoveDown {
      0% {
          bottom: 0%;
      }
      100%{
          bottom: -100%;
      }
  }
  img .cancelIcon{
  margin-right: 0 !important;
  }
  .continue-btn{
      width: 100%;
      padding: 20px 0;
      background: var(--pink-1);
      border-radius: 8px;
      color: white;
      font-weight: 700;
      margin: 0 30px;
      margin-top: 40px;
  }
  .cancel-btn{
      width: 100%;
      padding: 20px 0;
      background: #EDF1F8;
      border-radius: 8px;
      box-shadow: inset 0px 0px 0px 1px var(--blue-1);
      color: var(--blue-1);
      font-weight: 700;
      margin: 0 30px;
      margin-top: 10px;
  }
  .continue-btn:hover, .cancel-btn:hover{
      transform: scale(1.005);
      transition: .3s;
  }
  .modal-warning{
      margin-top: 30px;
  }
  .modal-content{
      width: 100%;
      padding: 20px 0;
  }
}