    .card {
    position: relative;
    left: calc(50% - 250px);
    top: calc(50% - 325px);
    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.16);
    z-index: 3;
    border-radius: 25px;
  }

  .cancelIcon {
    right: 25px;
    top: 25px;
    width: 30px;
    height: 30px;
    position: absolute;
  }

  .cardheader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10%;
    text-align-last: center;
    width: 100%;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
  }
  .cardbody {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5% 5%;
    height: 65%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    /* display: inline-block;
    overflow-y: scroll; */
  }

@media (max-width:769px){
  .card{
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    height: 570px;
  }

  .card-bg{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    height: 70%;
    /* backdrop-filter: blur(0px); */
    width: 100vw;
    overflow: hidden;

  }
  img .cancelIcon{
    margin-right: 0 !important;
  }
}



/* ANIMATION */
@media (max-width:769px){

  .card-up{
    animation: MoveUp .2s linear;
  }
  .card-down{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    height: 570px;
    animation: MoveDown .2s linear;
    animation-fill-mode: forwards;
  }
  @keyframes MoveUp {
    0% {
      bottom: -50%;
    }
    100%{
      bottom: 0%;
    }
  }
  @keyframes MoveDown {
    0% {
      bottom: 0%;
    }

    100%{
      bottom: -100%;
    }
  }


}



@media (min-width:768px){
  img .cancelIcon{
    margin-right: 0 !important;
  }
  
  .card-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    /* backdrop-filter: blur(0px); */
    width: 100vw;
    height: 0px;
  }
}