@media (max-width:768px){
    .send-input{
        padding: 10px 30px;
        border: 2.5px solid var(--blue-1);
        border-radius: 5px;
        margin: 10px;
    }
    /* .send-btn{
        padding: 10px 30px;
        background-color:var(--pink-1);
        border-radius: 5px;
        margin: 10px;
        color: white;
        border: none;
        font-weight: 700;
    } */
    .send{
        width: 100%;
        display: flex;
        margin: 20px 30px;
        /* margin-top: -260px; */
        flex-direction: column;
    }
    .send-btn{
        width: 100%;
        font-size: 16px;
        padding: 20px 0;
        background-color:var(--pink-1);
        border-radius: 8px;
        color: white;
        font-weight: 700;
        /* margin: 0px 30px; */
        margin: auto;
        margin-top: 10px;
    }
    .confirm-send{
        margin-left: -8vw;
    }
    /* .password-input{
        padding: 20px 30px;
        border: 2.5px solid var(--blue-1);
        border-radius: 5px;
        margin-left: 0 !important;
        width: 100%;
    } */
    .confirm-input{
        width:80%;
        padding: 20px 20px;
        border: 2.5px solid var(--blue-1);
        border-radius: 8px;
        margin: 10px 0px !important;
    }
}
@media (min-width:769px){
    .send-input{
        padding: 20px 20px;
        border: 2.5px solid var(--blue-1);
        border-radius: 8px;
        margin: 10px 60px !important;
    }
    .confirm-input{
        width:88%;
        padding: 20px 20px;
        border: 2.5px solid var(--blue-1);
        border-radius: 8px;
        margin: 10px 0px !important;
    }
    .send{
        margin-top:25px ;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .send-btn{
        text-align: center;
        font-size: 16px;
        padding: 20px 0px;
        background-color:var(--pink-1);
        border-radius: 8px;
        margin: 10px 60px !important;
        color: white;
        border: none;
        font-weight: 700;
    }
}